<!--este el el archivo base, este hereda todo su contenido a los archivos que lo llamen con el extends-->

<!--en el archivo en el que estemos heredando todo lo que no este en un endblock no se renderizara y por lo tanto no se va a mostrar-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <!--esto va fuera de content por lo tanto la heredaran los demas -->
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Inicio</a></li><!--ese index es el nombre de la vista-->
            <li><a href="{{ url_for('hello') }}">Hello</a></li>
            <li><a href="{{ url_for('register') }}">Registrarse</a></li>
        </ul>
    </nav>

    <h1>{% block saludo%}
        mainnn
    {% endblock%}</h1>



    
</body>
</html>