<!--borramos lo de html body etc porque eso lo hereda de la plantilla-->
{%extends "base.html"%}<!--colocamos el nombre de la plantilla de la cual vamos a heredar--> 


    {% block titulo%} mundo {% endblock%}

    {% block saludo%} te damos la bienvenidaa la pagina principal 
    
    {% if name %}<!--esto dara true por lo que si se mostrara el nombre-->
        <h1>Bienvenido, {{ name }}</h1>
    {% else  %}
        <h1>Bienvenido, no tenemos tu nombre</h1>
    {% endif  %}<!--siempre debemos indicar en donde acaba el if porque sino da error-->


    <ul>
        <!--asi imprimimos una lista desde python-->
        {%for numero in numeros%}
            <li> {{ numero }} </li> 
        {% endfor %}

    </ul>


    <ul>{{numeros}}</ul><!--nose hice la prueba haber que hace, y los muestra asi [1,2,3...0]-->
    {% endblock%}

<h3>hola h3</h3><!--esto no se va a mostrar porque esta fuera de un block-->





