<!--borramos lo de html body etc porque eso lo hereda de la plantilla-->
{%extends "base.html"%}<!--colocamos el nombre de la plantilla de la cual vamos a heredar--> 


    {% block titulo%} mundo {% endblock%}

    {% block saludo%} te damos la bienvenidaa la pagina principal 
    
    {% if name %}<!--esto dara true por lo que si se mostrara el nombre-->
        <h1>Bienvenido, {{ name | upper }}</h1>
        <h1> {{fecha | hoy }} </h1>
    {% else  %}
        <h1>Bienvenido, no tenemos tu nombre</h1>
    {% endif  %}<!--siempre debemos indicar en donde acaba el if porque sino da error-->


  


  
    {% endblock%}







